.gallery{
  padding-bottom: 2rem;
  @include heading(1);
  img{
    width: 100%
  }
  &__item{
    position: relative;
    &:hover{
      .gallery__item-overlay{
        opacity: .5;
      }
    }
    &-overlay{
      transition: .15s linear all;
      width: calc(100% - 30px);
      height: 100%;
      background: #0785b3;
      position: absolute;
      opacity: 0;
      top: 0;
    }
  }
}