.neighborhood{
  @include heading(1);
  &__tiles{
    padding-bottom: 6rem
  }
  &__item{
    display: flex;
    margin: 15px 0;
    &:nth-child(even){
      flex-direction: row-reverse;
      .neighborhood__content{
        text-align: left;
        padding: 0 0 0 15px;
        h3{
          &::after{
            right: unset;
            left: 0;
          }
        }
      }
    }
  }
  &__content{
    max-width: calc(100% - 100px);
    padding: 0 15px 0 0;
    text-align: right;
    h3{
      color: $primary;
      font-size: 1.8rem;
      position: relative;
      padding-bottom: 6px;
      &::after{
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        width: 125px;
        display: block;
        height: 3px;
        background-color: rgba(0,0,0,.3);
      }
    }
  }
  &__icon{
    width: 100px;
    height: 100px;
    background-color: $secondary;
    text-align: center;
    margin: auto 0;
    transition: .1s linear all;
    &:hover{
      background-color: $secondary-light;
      i{
        transform: scale(1.25);
      }
    }
    i{
      transition: .1s linear all;
      color: white;
      line-height: 100px;
      font-size: 3rem;
      
    }
  }
  @include media-breakpoint-down(xs){
    &__item{
      flex-direction: column-reverse !important;
    }
    &__content{
      max-width: 100% !important;
      padding: 0 15px !important;
      text-align: center !important;
      h3{
        padding-top: 10px;
        &::after{
          left: 50% !important;
          right: unset !important;
          transform: translateX(-50%) !important;
        }
      }
    }
    &__icon{
      margin: 0 auto !important;
    }
  }
}