.present{
 width: 100%;
 .slider__heading{
  h1{
    transition: .15s linear all;
    font-size: 5rem;
    color: white;
    span{
      transition: .15s linear all;
      font-size: 6rem;
      color: white;

    }
  }
  position: unset;
  transform: unset;
  top: unset;
  left: unset;
}
  &__item{
    position: relative;
    height: 100vh;
    width: 50%;
    transition: .25s linear all;
    &__residence, &__park{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.4);
        transition: .15s linear all;
      }
    }
    &__park{
      .slider__heading{
        h1{
          color: white;
          span{
            color: white;
          }
          &::after{
            background-color: $secondary;
          }
        }
      }
      .present__button{
        background-color: $secondary;
        &:hover{
          background-color: $secondary-light;
        }
      }
    }
    &-hover{
      width: 65%;
      &::after{
        background-color: rgba(0,0,0,.1);
      }
    }
    &-nothover{
      width: 35%;
      @include media-breakpoint-up(sm){
        .slider__heading{
          h1{
            font-size: 3rem;
            span{
              font-size: 3.5rem;
            }
          }
        }
        .present__more{
          a{
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    z-index: 100;
  }
  &__more{ 
    text-align: center;
    margin: 2rem .5rem 1rem .5rem;
    a{
      //text-transform: uppercase;
      background-color: $primary;
      font-size: 2rem;
      padding: .75rem 2rem;
      color: white;
      transition: .1s linear all;
      &:hover{
        text-decoration: none;
        background-color: $primary-light;
      }
    }
  }
  &__logo{
    transition: .25s linear all;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    img{
      width: 100%;
    }
    &-left{
      left: 35%;
    }
    &-right{
      left: 65%;
    }
  }
  &__text{
    text-align: center;
    color: white;
    margin-top: 2rem;
    h2{
      font-size: 1.6rem;
    }
  }

  @media(max-width: 1450px){
    &__logo{
      width: 150px;
    }
    &__text{
      h2{
        font-size: 1.3rem;
      }
    }
    .slider__heading{
      h1{
        font-size: 3.5rem;
        span{
          font-size: 4.5rem;
      }
    }
  }
}
  @include media-breakpoint-down(lg){
    &__logo{
      width: 100px;
    }
  }

  @include media-breakpoint-down(sm){
    &__item{
      width: 100% !important;
    }
    &__more{
      a{
        font-size: 1.4rem;
      }
    }
    &__text{
      h2{
        font-size: 1.2rem;
      }
    }
    &__logo{
      width: 200px;
      top: 100%;
      left: 50%;
    }
  }
}