// $primary: #efb110;
// $primary-light:#fec52f;
// $primary-lighter:#ffd25a;
// $secondary:#d30054;
// $secondary-light:#ff247b;
$primary: #B36819;
$primary-light:#FFAE57;
$primary-lighter:#FFA13E;
$secondary:#0785B3;
$secondary-light:#3DCCFF;